node_modules/

service-account-key.json
temp/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

service-account-key.json
*.key
*.pem
.env.local
.env.production
.env
.vs
.env
.vs/slnx.sqlite
.vs/Vectoria/FileContentIndex/7272dd55-302a-425f-b59c-cd67e0759bdb.vsidx
